kube-prometheus-stack:
  grafana:
    persistence:
      enabled: true
      type: sts
      accessModes:
        - ReadWriteOnce
      size: 20Gi
      finalizers:
        - kubernetes.io/pvc-protection
  crds:
    upgradeJob:
      enabled: true
      forceConflicts: true
  prometheus:
    prometheusSpec:
      enableRemoteWriteReceiver: true
      # Allow Prometheus to discover ServiceMonitors from all namespaces
      # This enables automatic discovery of metrics without needing Alloy
      serviceMonitorNamespaceSelector: {}
      serviceMonitorSelector: {}
      podMonitorNamespaceSelector: {}
      podMonitorSelector: {}
