kube-prometheus-stack:
  grafana:
    persistence:
      enabled: true
      type: sts
      accessModes:
        - ReadWriteOnce
      size: 20Gi
      finalizers:
        - kubernetes.io/pvc-protection
  crds:
    upgradeJob:
      enabled: true
      forceConflicts: true