kube-prometheus-stack:
  # Disable monitoring for components that don't expose metrics
  kubeEtcd:
    enabled: false
  kubeProxy:
    enabled: false
  grafana:
    grafana.ini:
      server:
        root_url: http://grafana.shivpatel.xyz
    persistence:
      enabled: true
      type: sts
      accessModes:
        - ReadWriteOnce
      size: 20Gi
      finalizers:
        - kubernetes.io/pvc-protection
  crds:
    upgradeJob:
      enabled: true
      forceConflicts: true
      image:
        kubectl:
          tag: v1.34.1
  prometheus:
    prometheusSpec:
      enableRemoteWriteReceiver: true
      # Allow Prometheus to discover ServiceMonitors from all namespaces
      serviceMonitorSelectorNilUsesHelmValues: false
      podMonitorSelectorNilUsesHelmValues: false
      serviceMonitorNamespaceSelector: {}
      serviceMonitorSelector: {}
      podMonitorNamespaceSelector: {}
      podMonitorSelector: {}
