logstash:
  replicas: 1
  labels:
    app.kubernetes.io/name: logstash
    app.kubernetes.io/instance: logstash
    app.kubernetes.io/managed-by: helm
    shivpatel.xyz/team: observability
    shivpatel.xyz/service: logstash
    shivpatel.xyz/tier: "High"
    shivpatel.xyz/env: homelab
  persistence:
    enabled: true
    size: "5Gi"

  resources:
    requests:
      cpu: "200m"
      memory: "1Gi"
    limits:
      cpu: "1000m"
      memory: "1Gi"

  service:
    type: ClusterIP
    ports:
      - name: beats
        port: 5044
        targetPort: 5044
        protocol: TCP

  logstashConfig:
    logstash.yml: |
      http.host: 0.0.0.0
      xpack.monitoring.enabled: false

  extraEnvs:
    - name: ELASTICSEARCH_USERNAME
      valueFrom:
        secretKeyRef:
          name: elasticsearch-master-credentials
          key: username
    - name: ELASTICSEARCH_PASSWORD
      valueFrom:
        secretKeyRef:
          name: elasticsearch-master-credentials
          key: password

  logstashPipeline:
    logstash.conf: |
      input {
        beats {
          port => 5044
        }
        tcp {
          port => 5000
          codec => json
        }
      }
      output {
        elasticsearch {
          hosts => ["https://elasticsearch-master:9200"]
          user => '${ELASTICSEARCH_USERNAME}'
          password => '${ELASTICSEARCH_PASSWORD}'
          ssl => true
          cacert => '/usr/share/logstash/config/certs/ca.crt'
        }
      }

  secretMounts:
    - name: elasticsearch-master-certs
      secretName: elasticsearch-master-certs
      path: /usr/share/logstash/config/certs
