loki:
  global:
    extraEnvFrom:
      - secretRef:
          name: loki-s3-secret
    extraEnv:
      - name: JAEGER_ENDPOINT
        value: "http://alloy.observability.svc.cluster.local:14268/api/traces"
      - name: JAEGER_SAMPLER_TYPE
        value: "const"
      - name: JAEGER_SAMPLER_PARAM
        value: "1"
    extraArgs:
      - -config.expand-env=true
  loki:
    commonConfig:
      replication_factor: 1
    server:
      grpc_server_max_recv_msg_size: 16777216
      grpc_server_max_send_msg_size: 16777216
    schemaConfig:
      configs:
        - from: "2024-04-01"
          store: tsdb
          object_store: s3
          schema: v13
          index:
            prefix: loki_index_
            period: 24h
    pattern_ingester:
      enabled: true
    limits_config:
      allow_structured_metadata: true
      volume_enabled: true
      max_streams_per_user: 0
      max_global_streams_per_user: 0
      retention_period: 30d
      query_timeout: 5m
    compactor:
      retention_enabled: true
      delete_request_store: s3
    ruler:
      enable_api: true
    storage:
      type: s3
      s3:
        endpoint: http://minio.minio.svc.cluster.local:9000
        accessKeyId: "${MINIO_ACCESS_KEY}"
        secretAccessKey: "${MINIO_SECRET_KEY}"
        s3ForcePathStyle: true
        insecure: true
      bucketNames:
        chunks: loki-chunks
        ruler: loki-ruler
        admin: loki-admin

  minio:
    enabled: false

  deploymentMode: SimpleScalable

  singleBinary:
    replicas: 0

  # Zero out replica counts of other deployment modes
  backend:
    replicas: 2
    podAnnotations:
      profiles.grafana.com/cpu.scrape: "true"
      profiles.grafana.com/cpu.port_name: "http-metrics"
      profiles.grafana.com/memory.scrape: "true"
      profiles.grafana.com/memory.port_name: "http-metrics"
      profiles.grafana.com/goroutine.scrape: "true"
      profiles.grafana.com/goroutine.port_name: "http-metrics"
  read:
    replicas: 1
    podAnnotations:
      profiles.grafana.com/cpu.scrape: "true"
      profiles.grafana.com/cpu.port_name: "http-metrics"
      profiles.grafana.com/memory.scrape: "true"
      profiles.grafana.com/memory.port_name: "http-metrics"
      profiles.grafana.com/goroutine.scrape: "true"
      profiles.grafana.com/goroutine.port_name: "http-metrics"
  write:
    replicas: 1
    podAnnotations:
      profiles.grafana.com/cpu.scrape: "true"
      profiles.grafana.com/cpu.port_name: "http-metrics"
      profiles.grafana.com/memory.scrape: "true"
      profiles.grafana.com/memory.port_name: "http-metrics"
      profiles.grafana.com/goroutine.scrape: "true"
      profiles.grafana.com/goroutine.port_name: "http-metrics"

  ingester:
    replicas: 0
  querier:
    replicas: 0
  queryFrontend:
    replicas: 0
  queryScheduler:
    replicas: 0
  distributor:
    replicas: 0
  compactor:
    replicas: 0
  indexGateway:
    replicas: 0
  bloomCompactor:
    replicas: 0
  bloomGateway:
    replicas: 0
