datadog-operator:
  replicaCount: 1
  apiKeyExistingSecret: datadog-secret
  site: datadoghq.com
  clusterName: homelab
datadog:
  agents:
    rbac:
      create: true
      clusterRole:
        rules:
          - apiGroups:
              - ""
            resources:
              - nodes
            verbs:
              - get
              - list
              - watch
  datadog:
    site: datadoghq.com
    clusterName: homelab
    apiKeyExistingSecret: datadog-secret
    clusterChecks:
      enabled: true
    orchestratorExplorer:
      enabled: true
    logs:
      enabled: true
      containerCollectAll: true
