opencost:
  opencost:
    customPricing:
      enabled: true
      configmapName: custom-pricing-model
      configPath: /tmp/custom-config
      createConfigmap: true
      provider: custom
      costModel:
        description: Default prices based on GCP us-central1
        CPU: 0.031611
        spotCPU: 0.006655
        RAM: 0.004237
        spotRAM: 0.000892
        GPU: 0.95
        storage: 0.00005479452
        zoneNetworkEgress: 0.01
        regionNetworkEgress: 0.01
        internetNetworkEgress: 0.12
    prometheus:
      internal:
        enabled: true
        serviceName: kube-prometheus-stack-prometheus
        namespaceName: observability
        port: 9090
