longhorn:
  image:
    pullPolicy: IfNotPresent
  defaultSettings:
    defaultDataPath: "/mnt/storage/longhorn"
    defaultReplicaCount: "2"
    replicaSoftAntiAffinity: true
  persistence:
    defaultClass: true
    defaultClassReplicaCount: 2
  preUpgradeChecker:
    jobEnabled: false
  metrics:
    serviceMonitor:
      enabled: false