longhorn:
  image:
    pullPolicy: Always
  defaultSettings:
    defaultDataPath: "/mnt/storage/longhorn"
    defaultReplicaCount: "1"
  preUpgradeChecker:
    jobEnabled: false
  # metrics:
  #   serviceMonitor:
  #     enabled: true