longhorn:
  image:
    pullPolicy: IfNotPresent
  defaultSettings:
    defaultDataPath: "/mnt/storage/longhorn"
    defaultReplicaCount: "2"
    replicaSoftAntiAffinity: true
    removeSnapshotsDuringFilesystemTrim: true
    autoCleanupSystemGeneratedSnapshot: true
    autoCleanupRecurringJobBackupSnapshot: true
    autoCleanupSnapshotWhenDeleteBackup: true
    autoCleanupSnapshotAfterOnDemandBackupCompleted: true
    recurringSuccessfulJobsHistoryLimit: "3"
    recurringFailedJobsHistoryLimit: "3"
    recurringJobMaxRetention: "10"
    # Settings to prevent and recover from stale mount issues
    autoSalvage: true
    autoDeletePodWhenVolumeDetachedUnexpectedly: true
    nodeDownPodDeletionPolicy: delete-both-statefulset-and-deployment-pod
    nodeDrainPolicy: block-for-eviction-if-contains-last-replica
    detachManuallyAttachedVolumesWhenCordoned: true
    allowVolumeCreationWithDegradedAvailability: true
  persistence:
    defaultClass: true
    defaultClassReplicaCount: 2
  preUpgradeChecker:
    jobEnabled: true
  metrics:
    serviceMonitor:
      enabled: true