argocd-apps:
  applications:
    # Root App - The App of Apps itself
    argocd-apps:
      name: argocd-apps
      namespace: argocd
      destination:
        namespace: argocd
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/argocd-apps
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main
        helm:
          valueFiles:
            - values.yaml
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true

    # Monitoring & Observability
    kube-prometheus-stack:
      name: kube-prometheus-stack
      namespace: argocd
      destination:
        namespace: observability
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/kube-prometheus-stack
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    loki:
      name: loki
      namespace: argocd
      destination:
        namespace: observability
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/loki
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    alloy:
      name: alloy
      namespace: argocd
      destination:
        namespace: observability
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/alloy
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    datadog:
      name: datadog
      namespace: argocd
      destination:
        namespace: datadog
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/datadog
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    tempo-distributed:
      name: tempo-distributed
      namespace: argocd
      destination:
        namespace: tempo-distributed
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/tempo-distributed
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    filebeat:
      name: filebeat
      namespace: argocd
      destination:
        namespace: logging
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/filebeat
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    logstash:
      name: logstash
      namespace: argocd
      destination:
        namespace: logging
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/logstash
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    policy-reporter:
      name: policy-reporter
      namespace: argocd
      destination:
        namespace: kyverno
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/policy-reporter
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    # Security & Identity
    vault:
      name: vault
      namespace: argocd
      destination:
        namespace: vault
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/vault
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    external-secrets:
      name: external-secrets
      namespace: argocd
      destination:
        namespace: external-secrets
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/external-secrets
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    # authentik:
    #   name: authentik
    #   namespace: argocd
    #   destination:
    #     namespace: authentik
    #     server: "https://kubernetes.default.svc"
    #   project: default
    #   source:
    #     path: apps/authentik
    #     repoURL: "git@github.com:shivppatel/k8s.git"
    #     targetRevision: main

    keycloak:
      name: keycloak
      namespace: argocd
      destination:
        namespace: keycloak
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/keycloak
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    kyverno:
      name: kyverno
      namespace: argocd
      destination:
        namespace: kyverno
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/kyverno
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    # Infrastructure & Networking
    cert-manager:
      name: cert-manager
      namespace: argocd
      destination:
        namespace: cert-manager
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/cert-manager
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    traefik:
      name: traefik
      namespace: argocd
      destination:
        namespace: traefik
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/traefik
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    cloudflared:
      name: cloudflared
      namespace: argocd
      destination:
        namespace: cloudflared
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/cloudflared
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    external-dns:
      name: external-dns
      namespace: argocd
      destination:
        namespace: external-dns
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/external-dns
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    metallb:
      name: metallb
      namespace: argocd
      destination:
        namespace: metallb-system
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/metallb
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    reloader:
      name: reloader
      namespace: argocd
      destination:
        namespace: reloader
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/reloader
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    metrics-server:
      name: metrics-server
      namespace: argocd
      destination:
        namespace: kube-system
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/metrics-server
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    longhorn:
      name: longhorn
      namespace: argocd
      destination:
        namespace: longhorn-system
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/longhorn
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    minio:
      name: minio
      namespace: argocd
      destination:
        namespace: minio
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/minio
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    # Databases & Queues
    cloudnative-pg:
      name: cloudnative-pg
      namespace: argocd
      destination:
        namespace: cloudnative-pg
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/cloudnative-pg
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    postgresql:
      name: postgresql
      namespace: argocd
      destination:
        namespace: postgresql
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/postgresql
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    mongodb:
      name: mongodb
      namespace: argocd
      destination:
        namespace: mongodb
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/mongodb
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    redis:
      name: redis
      namespace: argocd
      destination:
        namespace: redis
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/redis
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    kafka:
      name: kafka
      namespace: argocd
      destination:
        namespace: kafka
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/kafka
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    kafka-ui:
      name: kafka-ui
      namespace: argocd
      destination:
        namespace: kafka
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/kafka-ui
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    rabbitmq:
      name: rabbitmq
      namespace: argocd
      destination:
        namespace: rabbitmq
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/rabbitmq
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    elasticsearch:
      name: elasticsearch
      namespace: argocd
      destination:
        namespace: logging
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/elasticsearch
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    emqx:
      name: emqx
      namespace: argocd
      destination:
        namespace: emqx
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/emqx
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    # Tools & Services
    argocd:
      name: argocd
      namespace: argocd
      destination:
        namespace: argocd
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/argocd
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    argo-rollouts:
      name: argo-rollouts
      namespace: argocd
      destination:
        namespace: argo-rollouts
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/argo-rollouts
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    rollouts-demo:
      name: rollouts-demo
      namespace: argocd
      destination:
        namespace: rollouts-demo
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/rollouts-demo
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    canary-demo:
      name: canary-demo
      namespace: argocd
      destination:
        namespace: canary-demo
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/canary-demo
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    atlantis:
      name: atlantis
      namespace: argocd
      destination:
        namespace: atlantis
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/atlantis
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    gitea:
      name: gitea
      namespace: argocd
      destination:
        namespace: gitea
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/gitea
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    harbor:
      name: harbor
      namespace: argocd
      destination:
        namespace: harbor
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/harbor
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    headlamp:
      name: headlamp
      namespace: argocd
      destination:
        namespace: kube-system
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/headlamp
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    kubecost:
      name: kubecost
      namespace: argocd
      destination:
        namespace: kubecost
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/kubecost
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    it-tools:
      name: it-tools
      namespace: argocd
      destination:
        namespace: it-tools
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/it-tools
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    n8n:
      name: n8n
      namespace: argocd
      destination:
        namespace: n8n
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/n8n
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    # Apps
    home-assistant:
      name: home-assistant
      namespace: argocd
      destination:
        namespace: home-assistant
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/home-assistant
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    homepage:
      name: homepage
      namespace: argocd
      destination:
        namespace: homepage
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/homepage
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    immich:
      name: immich
      namespace: argocd
      destination:
        namespace: immich
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/immich
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    nextcloud:
      name: nextcloud
      namespace: argocd
      destination:
        namespace: nextcloud
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/nextcloud
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    open-webui:
      name: open-webui
      namespace: argocd
      destination:
        namespace: ai
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/open-webui
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    pgadmin4:
      name: pgadmin4
      namespace: argocd
      destination:
        namespace: pgadmin4
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/pgadmin4
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    teslamate:
      name: teslamate
      namespace: argocd
      destination:
        namespace: teslamate
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/teslamate
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    uptime-kuma:
      name: uptime-kuma
      namespace: argocd
      destination:
        namespace: uptime-kuma
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/uptime-kuma
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

    kibana:
      name: kibana
      namespace: argocd
      destination:
        namespace: logging
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: apps/kibana
        repoURL: "git@github.com:shivppatel/k8s.git"
        targetRevision: main

  projects:
    default:
      name: default

      namespace: argocd
      description: "default applications"
      destinations:
        - namespace: "*"
          server: "*"
      sourceRepos:
        - "*"
      clusterResourceWhitelist:
        - group: "*"
          kind: "*"

  applicationsets: {}

  extensions: []
