apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
  finalizers: [resources-finalizer.argocd.argoproj.io]
spec:
  project: default
  source:
    repoURL: https://kubernetes.github.io/ingress-nginx
    targetRevision: controller-1.11.2 # Use a stable version
    chart: ingress-nginx
    helm:
      values: |
        controller:
          replicaCount: 2 # HA NGINX
          service:
            type: LoadBalancer # Expose NGINX externally (K3s will use MetalLB or its own LB)
  destination:
    server: https://kubernetes.default.svc
    namespace: ingress-nginx
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions: [CreateNamespace=true]
