apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cloudflare-api-key
  namespace: external-dns
spec:
  refreshInterval: "1h"
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: cloudflare-api-key
    creationPolicy: Owner
  data:
    - secretKey: apiKey
      remoteRef:
        key: secret/data/cloudflare
        property: apiKey
