apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: external-dns-secret
  namespace: external-dns
spec:
  refreshInterval: "1h"
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: external-dns-secret
    creationPolicy: Owner
  data:
    - secretKey: cloudflare-api-key
      remoteRef:
        key: secret/data/cloudflare
        property: apiKey
