nextcloud:
  nextcloud:
    host: nextcloud.shivpatel.xyz
    existingSecret:
      enabled: true
      secretName: nextcloud-secret
      usernameKey: nextcloud-username
      passwordKey: nextcloud-password