keycloak:
  global:
    imageRegistry: "docker.io"
    security:
      allowInsecureImages: true
  image:
    repository: bitnamilegacy/keycloak
    tag: 26.3.3-debian-12-r0
  externalDatabase:
    host: postgresql-rw.postgresql.svc.cluster.local
    port: 5432
    database: keycloak
    existingSecret: "keycloak-db-secret"
    existingSecretUserKey: "username"
    existingSecretPasswordKey: "password"
  postgresql:
    enabled: false
