kibana:
  replicas: 1
  resources:
    requests:
      cpu: "500m"
      memory: "1Gi"
    limits:
      cpu: "1000m"
      memory: "1Gi"
  
  elasticsearchHosts: "https://elasticsearch-master:9200"

  extraEnvs:
    - name: ELASTICSEARCH_SSL_CERTIFICATEAUTHORITIES
      value: /usr/share/kibana/config/custom-certs/ca.crt

  secretMounts:
    - name: elasticsearch-master-certs
      secretName: elasticsearch-master-certs
      path: /usr/share/kibana/config/custom-certs
