traefik:
  ingressRoute:
    dashboard:
      enabled: false
      
  logs:
    general:
      level: "INFO" # DEBUG if needed

  service:
    type: LoadBalancer
    loadBalancerIP: "192.168.3.20"  # Choose an available IP from your MetalLB range
    ports:
      websecure:
        port: 443
        targetPort: websecure
      web:
        port: 80
        targetPort: web
      traefik:
        port: 8443
        targetPort: 8443

  additionalArguments:
    - --entryPoints.web.http.redirections.entryPoint.to=websecure
    - --entryPoints.web.http.redirections.entryPoint.scheme=https
    - --entryPoints.web.http.redirections.entryPoint.permanent=true

  tlsStore:
    default:
      defaultCertificate:
        secretName: wildcard-cert-new

  persistence:
    enabled: true

  metrics:
    prometheus:
      serviceMonitor:
        enabled: true