traefik:
  ingressRoute:
    dashboard:
      enabled: true

  logs:
    general:
      level: "INFO" # DEBUG if needed

  service:
    type: LoadBalancer
    loadBalancerIP: "192.168.20.20" # Choose an available IP from your MetalLB range

  tracing:
    addInternals: true
    otlp:
      enabled: true
      grpc:
        enabled: true
        endpoint: alloy.observability.svc.cluster.local:4317
        insecure: true

  additionalArguments:
    - --entryPoints.web.http.redirections.entryPoint.to=websecure
    - --entryPoints.web.http.redirections.entryPoint.scheme=https
    - --entryPoints.web.http.redirections.entryPoint.permanent=true
    - --entryPoints.websecure.http.middlewares=traefik-security-headers@kubernetescrd
    - --api.debug=true

  tlsStore:
    default:
      defaultCertificate:
        secretName: wildcard-cert-new

  persistence:
    enabled: false

  deployment:
    replicas: 3
    podAnnotations:
      profiles.grafana.com/cpu.scrape: "true"
      profiles.grafana.com/cpu.port_name: "traefik"
      profiles.grafana.com/memory.scrape: "true"
      profiles.grafana.com/memory.port_name: "traefik"
      profiles.grafana.com/goroutine.scrape: "true"
      profiles.grafana.com/goroutine.port_name: "traefik"
      ad.datadoghq.com/traefik.checks: |
        {
          "traefik_mesh": {
            "init_config": {},
            "instances": [
              {
                "openmetrics_endpoint": "http://%%host%%:9100/metrics"
              }
            ]
          }
        }

  metrics:
    addInternals: true
    prometheus:
      addRoutersLabels: true
      addServicesLabels: true
      serviceMonitor:
        enabled: true
        honorLabels: true
    datadog:
      ## Address instructs exporter to send metrics to datadog-agent at this address.
      address: "127.0.0.1:8125"
      ## The interval used by the exporter to push metrics to datadog-agent. Default=10s
      # pushInterval: 30s
      ## The prefix to use for metrics collection. Default="traefik"
      # prefix: traefik
      ## Enable metrics on entry points. Default=true
      # addEntryPointsLabels: false
      ## Enable metrics on routers. Default=false
      addRoutersLabels: true
      ## Enable metrics on services. Default=true
      # addServicesLabels: false
