apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}
data:
  kubernetes.yaml: |
    mode: cluster
  settings.yaml: |
    headerStyle: clean
    background:
        image: https://images.unsplash.com/photo-1604928141064-207cea6f571f?q=80&w=2728&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
        blur: md
        saturate: 50
        brightness: 50
        opacity: 70
    theme: dark
    color: zinc
    providers:
      longhorn:
        url: http://longhorn-frontend.longhorn-system.svc.cluster.local
    quicklaunch:
        searchDescriptions: true
        hideInternetSearch: true
        showSearchSuggestions: true
        hideVisitURL: true
    hideVersion: true
    hideErrors: true
    statusStyle: "dot"
  custom.css: ""
  custom.js: ""
  bookmarks.yaml: |
    - Developer:
        - k8s Repo:
            - abbr: GH
              icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/github-light.png
              href: https://github.com/shivppatel/k8s
        - k8s PRs:
            - abbr: GH
              icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/github-light.png
              href: https://github.com/Shivppatel/k8s/pulls
        - k8s GHA:
            - abbr: GH
              icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/github-light.png
              href: https://github.com/Shivppatel/k8s/actions
  services.yaml: |
    - Platform:
        - ArgoCD:
            icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/argo-cd.png
            href: https://argocd.shivpatel.xyz
            description: GitOps continuous delivery
            # widget:
            #   type: argocd
            #   url: https://argocd.shivpatel.xyz
            #   key: {{`{{HOMEPAGE_VAR_ARGOCD_KEY}}`}}
            #   fields: ["healthy", "outOfSync", "progressing", "degraded"]
        - Argo Rollouts:
            icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/argo-cd.png
            href: https://rollouts.shivpatel.xyz
            description: Progressive delivery        
        - Cloudflare:
            icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/cloudflare.png
            href: https://one.dash.cloudflare.com/f548e19241cbc9a4cedf90c92d252e92/networks/connectors/cloudflare-tunnels/cfd_tunnel/e4f290c8-f16d-49ad-a2de-d009b45e7df5/edit?tab=publicHostname
            description: Cloudflare Tunnels
            # widget:
            #   type: cloudflared
            #   accountid: f548e19241cbc9a4cedf90c92d252e92
            #   tunnelid: e4f290c8-f16d-49ad-a2de-d009b45e7df5
            #   key: {{`{{HOMEPAGE_VAR_CLOUDFLARE_KEY}}`}}
            #   fields: ["status"]
        - Headlamp:
            icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/headlamp.png
            href: https://headlamp.shivpatel.xyz
            description: Kubernetes dashboard
        - Longhorn:
            icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/longhorn.png
            href: https://longhorn.shivpatel.xyz
            description: Distributed storage
        - Traefik:
            icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/traefik-proxy.png
            href: https://traefik.shivpatel.xyz/dashboard/#/
            description: Ingress controller
            # widget:
            #   type: traefik
            #   url: https://traefik.shivpatel.xyz/

    - Monitoring:
        - Alloy:
            icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/alloy.png
            href: https://alloy.shivpatel.xyz
            description: Telemetry collector
        - Datadog:
            icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/datadog.png
            href: https://app.datadoghq.com/dashboard/lists?p=1
            description: Cloud monitoring
        - Grafana:
            icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/grafana.png
            href: https://grafana.shivpatel.xyz
            description: Dashboards & visualization
            # widget:
            #   type: grafana
            #   version: 2
            #   alerts: alertmanager
            #   url: https://grafana.shivpatel.xyz
            #   username: {{`{{HOMEPAGE_VAR_GRAFANA_USERNAME}}`}}
            #   password: {{`{{HOMEPAGE_VAR_GRAFANA_PASSWORD}}`}}
        - Policy Reporter:
            icon: https://kyverno.github.io/policy-reporter-docs/logo.png
            href: https://policy-reporter.shivpatel.xyz
            description: Policy compliance
        - Prometheus:
            icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/prometheus.png
            href: https://prometheus.shivpatel.xyz
            description: Metrics & alerting
            # widget:
            #   type: prometheus
            #   url: https://prometheus.shivpatel.xyz
        - Pyroscope:
            icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/grafana.png
            href: https://pyroscope.shivpatel.xyz
            description: Continuous Profiling
        - Uptime Kuma:
            icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/uptime-kuma.png
            href: https://uptime.shivpatel.xyz/dashboard
            description: Uptime monitoring
            # widget:
            #   type: uptimekuma
            #   url: https://uptime.shivpatel.xyz/
            #   slug: homelab

    - Services:
        - Authentik:
            icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/authentik.png
            href: https://authentik.shivpatel.xyz/
            description: Identity provider
        - EMQX:
            icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/emqx.png
            href: https://emqx.shivpatel.xyz/
            description: MQTT broker
        - GitLab:
            icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/gitlab.png
            href: https://gitlab.shivpatel.xyz
            description: Git repository
        - MinIO:
            icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/minio.png
            href: https://minio.shivpatel.xyz/
            description: Object storage
        - pgAdmin:
            icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/pgadmin.png
            href: https://pgadmin.shivpatel.xyz/
            description: PostgreSQL admin
        - RabbitMQ:
            icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/rabbitmq.png
            href: https://rabbitmq.shivpatel.xyz/
            description: Message broker
        - Vault:
            icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/hashicorp-vault.png
            href: https://vault.shivpatel.xyz
            description: Secrets management

    - Personal:
        - Home Assistant:
            icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/home-assistant.png
            href: https://home.shivpatel.xyz
            description: Home automation
            # widget:
            #   type: homeassistant
            #   url: http://home.shivpatel.xyz
            #   key: {{`{{HOMEPAGE_VAR_HOMEASSISTANT_KEY}}`}}
        - Immich:
            icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/immich.png
            href: https://immich.shivpatel.xyz
            description: Photo management
            # widget:
            #   type: immich
            #   url: https://immich.shivpatel.xyz
            #   key: {{`{{HOMEPAGE_VAR_IMMICH_KEY}}`}}
            #   version: 2
            #   fields: ["photos", "videos", "storage"]
        - Jellyfin:
            icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/jellyfin.png
            href: https://jelly.shivpatel.xyz
            description: Media server
            # widget:
            #   type: jellyfin
            #   url: https://jelly.shivpatel.xyz
            #   key: {{`{{HOMEPAGE_VAR_JELLYFIN_KEY}}`}}
            #   enableBlocks: true
            #   enableNowPlaying: false
            #   enableUser: true
            #   enableMediaControl: false
            #   showEpisodeNumber: true
            #   expandOneStreamToTwoRows: false
            #   fields: ["movies", "episodes", "songs"]
        - Nextcloud:
            icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/nextcloud.png
            href: https://nextcloud.shivpatel.xyz
            description: Personal cloud
            # widget:
            #   type: nextcloud
            #   url: https://nextcloud.shivpatel.xyz
            #   username: {{`{{HOMEPAGE_VAR_NEXTCLOUD_USERNAME}}`}}
            #   password: {{`{{HOMEPAGE_VAR_NEXTCLOUD_PASSWORD}}`}}
            #   fields: ["cpuload", "memoryusage", "freespace"]
        - n8n:
            icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/n8n.png
            href: https://n8n.shivpatel.xyz
            description: Workflow automation
        - Open WebUI:
            icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/open-webui-light.png
            href: https://chat.shivpatel.xyz/
            description: Chat interface
        - Unifi:
            icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/unifi.png
            href: https://unifi.ui.com
            description: Network management
    
    - Calendar:
        - " ":
            widget:
                type: calendar
                firstDayInWeek: sunday
                view: monthly
                showTime: true
                timezone: America/New_York
                integrations:
                    - type: ical
                      url: {{`{{HOMEPAGE_VAR_WORK_ICAL}}`}}
                      name: Work
                      color: zinc
                      params:
                        showName: true

  widgets.yaml: |
    # - logo:
    #     icon: https://avatars.githubusercontent.com/u/42050563?v=4
    # - resources:
    #     cpu: true
    #     memory: true
    #     cputemp: true
    #     uptime: true
    #     units: metric
    #     refresh: 3000
    - kubernetes:
        cluster:
          show: true
          cpu: true
          memory: true
          showLabel: true
          label: "Homelab"
        nodes:
          show: false
          cpu: true
          memory: true
          showLabel: true
    - longhorn:
        expanded: true
        total: true
        labels: true
        nodes: false
    - search:
        provider: google
        focus: false
        showSearchSuggestions: false
        target: _blank
    - datetime:
        text_size: x1
        format:
          dateStyle: short
          timeStyle: short
          hour12: true
    - openmeteo:
        label: Charlotte
        latitude: 35.2271
        longitude: 80.8409
        timezone: America/New_York
        units: imperial
        cache: 5
        format:
          maximumFractionDigits: 1
  docker.yaml: ""
