uptime-kuma:
  image:
    repository: louislam/uptime-kuma
    pullPolicy: IfNotPresent
    tag: "2.0.2"
  # Disable built-in ServiceMonitor, using custom one with secret ref
  serviceMonitor:
    enabled: false
