apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: loki-ingress
  namespace: observability
spec:
  entryPoints:
  - websecure
  routes:
  - match: Host(`loki.shivpatel.xyz`)
    kind: Rule
    services:
    - name: loki-gateway
      port: 80