global:
  security:
    allowInsecureImages: true

postgresql:
  image:
    registry: docker.io
    repository: pgvector/pgvector
    tag: pg17

  auth:
    postgresPassword: "change-me-admin"  # superuser password
    username: "immich"
    password: "change-me-immich"  # TODO: use a secret in production
    database: "immich"

  primary:
    initdb:
      scripts:
        init-extensions.sql: |
          CREATE EXTENSION IF NOT EXISTS vector;
          CREATE EXTENSION IF NOT EXISTS earthdistance CASCADE;
    extraVolumeMounts:
      - name: run
        mountPath: /var/run/postgresql
    extraVolumes:
      - name: run
        emptyDir: {}
    persistence:
      enabled: true
      size: 10Gi