harbor:
  expose:
    tls:
      enabled: false
      certSource: none
    ingress:
      hosts:
        core: harbor.shivpatel.xyz
  persistence:
    enabled: true
    resourcePolicy: keep
    persistentVolumeClaim:
      registry:
        storageClass: longhorn
      jobservice:
        jobLog:
          storageClass: longhorn
      database:
        storageClass: longhorn
      redis:
        storageClass: longhorn
      trivy:
        storageClass: longhorn
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true