home-assistant:
  replicaCount: 1
  persistence:
    enabled: true
  serviceMonitor:
    enabled: true
  ingress:
    external: true
  configuration:
    enabled: true
    forceInit: true
    trusted_proxies:
      - 10.0.0.0/8
      - 172.16.0.0/12
      - 192.168.0.0/16