home-assistant:
  replicaCount: 3
  persistence:
    enabled: true
  ingress:
    external: true
  configuration:
    enabled: true
    forceInit: true
    trusted_proxies:
      - 10.96.0.0/12
      - 10.244.0.0/24
      - 10.244.1.0/24
      - 10.244.2.0/24