home-assistant:
  replicaCount: 3
  persistence:
    enabled: true
  deploymentStrategy: Recreate
  hostNetwork: true
  serviceMonitor:
    enabled: true
    bearerToken:
      secretName: home-assistant-metrics-auth
      secretKey: token
  ingress:
    external: true
  configuration:
    enabled: true
    forceInit: true
    trusted_proxies:
      - 10.0.0.0/8
      - 172.16.0.0/12
      - 192.168.0.0/16
    templateConfig: |-
      # Loads default set of integrations. Do not remove.
      default_config:

      {{- if or .Values.ingress.enabled .Values.ingress.external }}
      http:
        use_x_forwarded_for: true
        trusted_proxies:
          {{- range .Values.configuration.trusted_proxies }}
          - {{ . }}
          {{- end }}
      {{- end}}

      # Enable Prometheus metrics endpoint
      prometheus:

      # Load frontend themes from the themes folder
      frontend:
        themes: !include_dir_merge_named themes

      automation: !include automations.yaml
      script: !include scripts.yaml
      scene: !include scenes.yaml
