kyverno:
  grafana:
    enabled: false
    grafanaDashboard:
      create: false
      folder: kyverno
      allowCrossNamespaceImport: true
      matchLabels:
        dashboards: "grafana"
  admissionController:
    podAnnotations:
      ad.datadoghq.com/kyverno.checks: |
        {
          "kyverno": {
            "init_config": {},
            "instances": [
              {
                "openmetrics_endpoint": "http://%%host%%:8000/metrics"
              }
            ]
          }
        }
    serviceMonitor:
      enabled: true
  backgroundController:
    podAnnotations:
      ad.datadoghq.com/controller.checks: |
        {
          "kyverno": {
            "init_config": {},
            "instances": [
              {
                "openmetrics_endpoint": "http://%%host%%:8000/metrics"
              }
            ]
          }
        }
    serviceMonitor:
      enabled: true
  cleanupController:
    podAnnotations:
      ad.datadoghq.com/controller.checks: |
        {
          "kyverno": {
            "init_config": {},
            "instances": [
              {
                "openmetrics_endpoint": "http://%%host%%:8000/metrics"
              }
            ]
          }
        }
    serviceMonitor:
      enabled: true
  reportsController:
    podAnnotations:
      ad.datadoghq.com/controller.checks: |
        {
          "kyverno": {
            "init_config": {},
            "instances": [
              {
                "openmetrics_endpoint": "http://%%host%%:8000/metrics"
              }
            ]
          }
        }
    serviceMonitor:
      enabled: true
