apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: vault-ingress
  namespace: vault
spec:
  entryPoints:
  - websecure
  routes:
  - match: Host(`vault.shivpatel.xyz`)
    kind: Rule
    services:
    - name: vault
      port: 8200