minio:
  # Use Recreate strategy for single-replica with RWO PVC
  deployment:
    updateStrategy:
      type: Recreate
  image:
    registry: docker.io
    repository: bitnamilegacy/minio
  console:
    image:
      registry: docker.io
      repository: bitnamilegacy/minio-object-browser