redis:
  global:
    security:
      allowInsecureImages: true
  image:
    registry: registry-1.docker.io
    repository: bitnamilegacy/redis
    tag: latest
  auth:
    existingSecret: redis-password-secret
  master:
    persistence:
      enabled: true
  replica:
    replicaCount: 3
    persistence:
      enabled: true
    updateStrategy:
      type: OnDelete