vault:
  server:
    ha:
      enabled: true
      raft:
        enabled: true
    dataStorage:
      enabled: true
      size: 10Gi
  global:
    serverTelemetry:
      serviceMonitor:
        enabled: true
