vault:
  server:
    ha:
      enabled: true
      raft:
        enabled: true
    dataStorage:
      enabled: true
      size: 10Gi
      storageClass: longhorn
  global:
    serverTelemetry:
      enabled: true
      prometheusRules:
        enabled: true