vault:
  server:
    ha:
      enabled: true
      raft:
        enabled: true
        config: |
          ui = true

          listener "tcp" {
            tls_disable = 1
            address = "[::]:8200"
            cluster_address = "[::]:8201"
            telemetry {
              unauthenticated_metrics_access = "true"
            }
          }

          storage "raft" {
            path = "/vault/data"
          }

          telemetry {
            prometheus_retention_time = "30s"
            disable_hostname = true
          }

          service_registration "kubernetes" {}
    dataStorage:
      enabled: true
      size: 10Gi
  serverTelemetry:
    serviceMonitor:
      enabled: true
