open-webui:
  ollama:
    enabled: true

    # This is our scheduling rule for the Ollama pod
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: ram
              operator: In
              values:
              - high

    # Enable persistent storage for Ollama models
    persistentVolume:
      enabled: true
      storageClass: "longhorn"
      size: 100Gi

  # OpenWebUI app persistence (separate from Ollama models)
  persistence:
    enabled: true
    storageClass: "longhorn"
    size: 2Gi
  strategy:
    type: Recreate