apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "bambulabs-exporter.fullname" . }}
  labels:
    {{- include "bambulabs-exporter.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "bambulabs-exporter.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "bambulabs-exporter.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "bambulabs-exporter.serviceAccountName" . }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: metrics
              containerPort: {{ .Values.service.targetPort }}
              protocol: TCP
          {{- if .Values.env }}
          env:
            {{- toYaml .Values.env | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
