name: gitleaks
on:
    pull_request:
    push:
    workflow_dispatch:
    schedule:
        - cron: "0 4 * * *"
jobs:
    scan:
        name: gitleaks
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
              with:
                  fetch-depth: 0
            - uses: gitleaks/gitleaks-action@ff98106e4c7b2bc287b24eaf42907196329070c7 # v2.3.9
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
