redis-ha:
  enabled: true
  replicaCount: 3

controller:
  replicas: 2

server:
  replicas: 2

repoServer:
  replicas: 2
  extraEnv:
    - name: HA_DEPLOY_CONFIRMED
      value: "TRUE"

applicationSet:
  replicas: 2
