argo-cd:
  redis-ha:
    enabled: true

  controller:
    replicas: 1

  server:
    autoscaling:
      enabled: true
      minReplicas: 2
    ingress:
      enabled: true
      hosts:
        - argocd.192.168.86.243.xip.io
      annotations:
        kubernetes.io/ingress.class: nginx 
        nginx.ingress.kubernetes.io/ssl-redirect: "false"

  repoServer:
    autoscaling:
      enabled: true
      minReplicas: 2

  applicationSet:
    replicas: 2
