argo-cd:
  configs:
    params:
      server.insecure: "true"
    configs:
      cm:
        accounts.readonly: apiKey
      rbac:
        policy.csv: "g, readonly, role:readonly"
  redis-ha:
    enabled: true
  controller:
    replicas: 1
    metrics:
      enabled: true
      servicemonitor:
        enabled: true
  dex:
    metrics:
      enabled: true
      servicemonitor:
        enabled: true
  redis:
    metrics:
      enabled: true
      servicemonitor:
        enabled: true
  server:
    autoscaling:
      enabled: true
      minReplicas: 2
    metrics:
      enabled: true
      servicemonitor:
        enabled: true
  repoServer:
    autoscaling:
      enabled: true
      minReplicas: 2
    metrics:
      enabled: true
      servicemonitor:
        enabled: true
  applicationSet:
    replicas: 2
    metrics:
      enabled: true
      servicemonitor:
        enabled: true
  notifications:
    metrics:
      enabled: true
      servicemonitor:
        enabled: true