redis-ha:
  enabled: true
  replicaCount: 3

controller:
  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 5

server:
  autoscaling:
    enabled: true
    minReplicas: 2

repoServer:
  autoscaling:
    enabled: true
    minReplicas: 2

applicationSet:
  replicas: 2
