argo-cd:
  redis-ha:
    enabled: true

  controller:
    replicas: 1

  server:
    autoscaling:
      enabled: true
      minReplicas: 2
    ingress:
      enabled: true
      ingressClassName: "nginx"
      annotations:
        # Add the legacy annotation for max compatibility
        kubernetes.io/ingress.class: nginx
        # Ensure traffic is not redirected to HTTPS (since you don't have Cert-Manager yet)
        nginx.ingress.kubernetes.io/ssl-redirect: "false"
      hostname: "argocd.192.168.86.243.xip.io"

  repoServer:
    autoscaling:
      enabled: true
      minReplicas: 2

  applicationSet:
    replicas: 2
