argo-cd:
  configs:
    params:
      server.insecure: "true"
      otlp.address: "alloy.observability.svc.cluster.local:4317"
      otlp.insecure: "true"
      controller.profile.enabled: "true"
      server.profile.enabled: "true"
      applicationsetcontroller.profile.enabled: "true"
    cm:
      accounts.readonly: apiKey
    rbac:
      policy.csv: "g, readonly, role:readonly"
  redis-ha:
    enabled: true
  controller:
    podAnnotations:
      profiles.grafana.com/cpu.scrape: "true"
      profiles.grafana.com/cpu.port_name: "metrics"
      profiles.grafana.com/memory.scrape: "true"
      profiles.grafana.com/memory.port_name: "metrics"
      profiles.grafana.com/goroutine.scrape: "true"
      profiles.grafana.com/goroutine.port_name: "metrics"
      ad.datadoghq.com/application-controller.checks: |
        {
          "argocd": {
            "init_config": {},
            "instances": [
              {
                "app_controller_endpoint": "http://%%host%%:8082/metrics"
              }
            ]
          }
        }
    replicas: 1
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
  dex:
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
  redis:
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
  server:
    podAnnotations:
      profiles.grafana.com/cpu.scrape: "true"
      profiles.grafana.com/cpu.port_name: "metrics"
      profiles.grafana.com/memory.scrape: "true"
      profiles.grafana.com/memory.port_name: "metrics"
      profiles.grafana.com/goroutine.scrape: "true"
      profiles.grafana.com/goroutine.port_name: "metrics"
      ad.datadoghq.com/server.checks: |
        {
          "argocd": {
            "init_config": {},
            "instances": [
              {
                "api_server_endpoint": "http://%%host%%:8083/metrics"
              }
            ]
          }
        }
    autoscaling:
      enabled: true
      minReplicas: 2
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
  repoServer:
    podAnnotations:
      profiles.grafana.com/cpu.scrape: "true"
      profiles.grafana.com/cpu.port_name: "metrics"
      profiles.grafana.com/memory.scrape: "true"
      profiles.grafana.com/memory.port_name: "metrics"
      profiles.grafana.com/goroutine.scrape: "true"
      profiles.grafana.com/goroutine.port_name: "metrics"
      ad.datadoghq.com/repo-server.checks: |
        {
          "argocd": {
            "init_config": {},
            "instances": [
              {
                "repo_server_endpoint": "http://%%host%%:8084/metrics"
              }
            ]
          }
        }
    autoscaling:
      enabled: true
      minReplicas: 2
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
  applicationSet:
    replicas: 2
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
  notifications:
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
